* {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Poppins, sans-serif;
}

body {
  height: 100%;
  background: linear-gradient(135deg, rgb(46, 130, 163), #b91b35);
}

h1 {
  font-size: 5em;
  line-height: 2em;
  text-shadow: 0 0 5px #c66769, 0 0 15px #9370ae, 0 0 20px #ed9f0f, 0 0 40px #ffa500, 0 0 60px #f00;
  color: rgb(8, 8, 87);
  font-family: "algerian", cursive;
  text-align: center;
  animation: blink 15s infinite;
}

.main {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-content: center;
  align-items: center;
}

.score {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.scoreTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#refresh {
  background-color: initial;
  background-image: linear-gradient(-190deg, yellow, #ea4621);
  border-radius: 6px;
  box-shadow: rgba(0.8, 1, 1, 0.7) 0 4px 8px;
  color: #fff;
  display: inline-block;
  font-family: Poppins, sans-serif;
  font-size: large;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  width: 20%;
  z-index: 8;
  border: 0;
  transition: box-shadow 0.2s;
  margin-left: 6%;
}

h2 {
  font-size: 1.8em;
  font-style: inherit;
  color: #8205e1;
  text-shadow:
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 25px #fff,
    0 0 45px greenyellow,
    0 0 85px greenyellow,
    0 0 95px greenyellow,
    0 0 120px greenyellow,
    0 0 170px greenyellow;
}

.scoreList {
  border: 0.2em solid black;
  border-radius: 0.5px;
  width: 80%;
  margin-top: 1em;
}

div ul li {
  list-style: none;
  padding-top: 1px;
  margin: 0 10px;
  height: 23px;
  align-items: center;
}

div ul li:nth-child(even) {
  background-color: rgb(183, 210, 128);
}

div ul li:nth-child(odd) {
  background-color: white;
}

.addScore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.addForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50%;
}

.input {
  height: 35px;
  border: 2px solid black;
  border-radius: 3px;
  width: 100%;
  padding-left: 1em;
}

#subBtn {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  font-size: medium;
}

#add {
  background-color: initial;
  background-image: linear-gradient(-190deg, rgb(39, 218, 51), #ea4621);
  box-shadow: rgba(0.8, 1, 1, 0.7) 0 4px 8px;
  border-radius: 7px;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-size: large;
  font-family: Poppins, sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 9;
  border: 1px salmon;
  transition: box-shadow 0.25s;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .main {
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  .addForm {
    width: 80%;
  }
}
